.navigation-list {
  $root: &;

  height: 100%;
  list-style: none;
  &--flex {
    display: flex;
  }
  &--col {
    flex-direction: column;
  }
  &--vCenter {
    justify-content: center;
  }

  &__sub-menu {
    background: #eee;
    height: auto;
    padding: 10px;

    @include lg() {
      position: absolute;
      display: none;
      right: 0;
      width: 300px;
      border-radius: 2px;
      ::after {
        content: " ";
        position: absolute;
        bottom: 100%; /* At the top of the tooltip */
        right: 25px;
        margin-left: -5px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
      }
    }

    #{$root}__link {
      color: #222;
      font-size: 14px;
      text-transform: initial;
    }
  }

  &__link {
    color: #000;
    display: block;
    margin: 10px 0;
    padding: 5px 0 5px 10px;
    text-decoration: none;
  }

  &__sub-link {
    position: relative;

    &:hover {
      #{$root}__sub-menu {
        display: block;
      }
    }
  }

  &--desktop {
    display: none;
    @include lg() {
      display: flex;
      flex-direction: row;
      list-style: none;

      a {
        color: #fff;
        margin-right: 20px;
        text-transform: uppercase;
      }
    }
  }
}
