.backdrop {
  &::before {
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    background: rgba(#000, 0.35);
  }
}

.grid {
  display: grid;
}
